<h1>Add a friend</h1>

<form action="/buds" method="post">

  <input type="text" name="name" placeholder="Name of bud">
  <input type="text" name="type" placeholder="Type of bud">
  <input type="url" name="image" placeholder="http://...">

  <button>Add your buddy!</button>
</form>
