<h1>This is the Secret Number game!</h1>

<p>Secret Number

Users click a number between 1 and 10. The controller validates the guess and renders the win or lose view.
</p>

<form action="/secretnumber/result">
  Enter your number:
  <input type="number" name="number" placeholder="Any number between 1 and 10">
  <button>Go!</button>
</form>
