<h1>This is the 8ball game page</h1>

<p>Magic 8 ball takes user's questions from the the URL as params and returns a positive or negative answer.
Secret Number

Users click a number between 1 and 10. The controller validates the guess and renders the win or lose view.</p>

<form action="/eightball">
  And what would your (reasonable) question be?
  <input type="text" name="question" placeholder="Am I going to survive GA?" required>
  <button>Ask!</button>
</form>

<% unless @question.nil? %>
  <h3> <%= @answer %> </h3>
<% end %>
