<h1>Add a friend!</h1>

<form action="/buds" method="post">
  Name: <input type="text" name="name" autofocus>
  Family: <input type="text" name="family">
  Ancestors: <input type="text" name="ancestors">
  THC: <input type="number" name="THC">
  CBD: <input type="number" name="CBD">
  Image: <input type="url" name="image">

  <button>Add your friend!</button>
</form>
